{{#partial "title"}}
    Heroes Lounge
{{/partial}}


{{#partial "content"}}
    {{> navBar.hbs}}


    <!--    Banner Section-->
    <div class="banner jumbotron h-50"></div>


    <div class="header"></div>

    <!-- Super Hero Section   -->
    <section class="">

        <div class="heroes ">
            <div class="section-title my-3 d-flex justify-content-between">
                Available SuperHeroes

                <img src="https://img.icons8.com/ios/50/000000/generic-sorting-2.png"/>
            </div>

            <!--list Heroes-->
            <div class="mt-4">
                <div class="row ">
                    <div class="col-md-3">

                        <div class="profile-card-2"><img
                                height="" width="300"
                                src="https://wallpapercave.com/dwp1x/wp10097095.jpg"
                                class="img  img-responsive">
                            <div class="profile-name">IKARIS</div>
                            <div class="profile-username">lavitation and lasers</div>

                        </div>
                    </div>


                    <div class="col-md-3">

                        <div class="profile-card-2">
                            <img height=""
                                 width="300"
                                 src="https://wallpapercave.com/dwp1x/wp9252520.jpg"
                                 class="img img-responsive">
                            <div class="profile-name">VENOM</div>
                            <div class="profile-username">Symbiotes</div>

                        </div>
                    </div>


                    <div class="col-md-3">

                        <div class="profile-card-2"><img

                                height=""
                                width="300"
                                src="https://wallpapercave.com/dwp1x/wp4194050.jpg"
                                class="img img-responsive">
                            <div class="profile-name">IRON MAN</div>
                            <div class="profile-username">Tech</div>

                        </div>
                    </div>


                    <div class="col-md-3">

                        <div class="profile-card-2"><img
                                height=""
                                width="300"

                                src="https://wallpapercave.com/wp/wp9659461.jpg"
                                class="img img-responsive">
                            <div class="profile-name">DOCTOR STRANGE</div>
                            <div class="profile-username">Wizardry</div>

                        </div>
                    </div>


                    <div class="col-md-3">

                        <div class="profile-card-2"><img
                                height=""
                                width="300"

                                src="https://wallpapercave.com/wp/wp6650241.jpg"
                                class="img img-responsive">
                            <div class="profile-name">THANOS</div>
                            <div class="profile-username">Strength</div>

                        </div>
                    </div>


                    <div class="col-md-3">

                        <div class="profile-card-2"><img
                                height=""
                                width="300"

                                src="https://wallpapercave.com/wp/wp5485288.jpg"
                                class="img img-responsive">
                            <div class="profile-name">WONDER WOMAN</div>
                            <div class="profile-username">Shield and Strength</div>

                        </div>
                    </div>


                    <div class="col-md-3">

                        <div class="profile-card-2"><img
                                height=""
                                width="300"

                                src="https://wallpapercave.com/wp/wp8831575.jpg"
                                class="img img-responsive">
                            <div class="profile-name">THOR</div>
                            <div class="profile-username">Thunder</div>

                        </div>
                    </div>

                    <div class="col-md-3">

                        <div class="profile-card-2"><img
                                height=""
                                width="300"

                                src="https://wallpapercave.com/wp/wp4331471.jpg"
                                class="img img-responsive">
                            <div class="profile-name">CAPTAIN MARVEL</div>
                            <div class="profile-username">Cosmic Energy</div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>








{{/partial}}



<style>
    .banner {

    width: 90%;
    margin: 10px auto;
    border-radius: 24px;
    background-image: url(https://wallpaperaccess.com/full/1158056.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    }
    .header {
      height: 300px;
      }

      .footer {
      height: 30x;
      background-color: #06050a;
      color: #FFF;
     }

    .section-title {
     text-align: center;
     font-size: 28px;

    }
    .heroes {
     width: 90%;
     margin: auto;
    }
    .profile-card-2 {
    max-width: 300px;
    background-color: #FFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    background-position: center;
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 10px;
}

.profile-card-2 img {
    transition: all linear 0.25s;
}

.profile-card-2 .profile-name {
    position: absolute;
    left: 30px;
    bottom: 70px;
    font-size: 30px;
    color: #06050a;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-icons {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: #06050a;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-username {
    position: absolute;
    bottom: 50px;
    left: 30px;
    color: #06050a;
    font-size: 13px;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-icons .fa {
    margin: 5px;
}

.profile-card-2:hover img {
    filter: grayscale(100%);
}

.profile-card-2:hover .profile-name {
    bottom: 80px;
}

.profile-card-2:hover .profile-username {
    bottom: 60px;
}

.profile-card-2:hover .profile-icons {
    right: 40px;
}






</style>



{{> layout.hbs }}